<!DOCTYPE html>
<html>
  <head>
    <title>Lib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.main = "<%= image_url('main.jpg') %>"
      window.logo = "<%= image_url('logo.png') %>"
      window.whitebooks = "<%= image_url('whitebooks.jpg') %>"
    </script>

    <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Nanum+Pen+Script|Pathway+Gothic+One" rel="stylesheet">
  </head>

  <body>

    <%= yield %>
  </body>
</html>
